.wrap {
    margin: 0px;
    padding: 0px;
}

.container-fluid {
    padding: 0px;
}

.container-content {
    margin: 0 auto;
    width: 90%;
}

.nav-wrap {
    background-color: #242F39;
}

p, ul {
    margin-bottom: 0;
}

.nav-content {
    height: 50px;
    align-items: center;
}

.nav-content__logo {
    color: #fff;
}

.bg-body {
    background-color: #222222 !important;
    color: #b1b1b1;
}

.nav-content .nav-content__menu ul {
    display: flex;
}

.nav-content .nav-content__menu ul li {
    list-style-type: none;
    padding: 5px;
}

.nav-content .nav-content__menu ul li a {
    color: #fff;
}

.description-wrap {
    background-color: #2e3740;
    color: #b1b1b1;
}

.nav-item.dropdown.show {
    background-color: #14425D;
}

.dropdown-menu {
    background-color: #14425D;
}

.description-content {
    padding: 5px 0px;
    height: auto;
    margin-bottom: 0px;
}

/* Hot Comic */
.comic-hot-content {
    margin: 0px;
    height: auto;
    background-color: gray;
}

.comic-hot-content .item-hot:hover {
    transform: scale(1.05);
    transform: all .1s ease-in-out;
}

.comic-hot-content .list-top .row:nth-child(1) {
    margin-bottom: 5px;
}

.comic-hot-content .list-top .col-sm-2 {
    height: 165px;
}

.comic-hot-content .list-top .col-sm-2 img {
    height: 100%;
    width: 100%;
}

/* Complete */

.comic-complete .row {
    margin-bottom: 5px;
}

.comic-complete .row:last-child {
    margin-bottom: 0px;
}

.comic-complete .item {
    text-align: center;
}

.comic-complete .item img {
    width: 95%;
    height: 165px;
}

.content-header {
    padding: 15px 0px;
}

/* New udate */
.new-update .item {
    padding: 15px 0px;
}

.new-update .item:nth-child(2n+1) {
    background-color: rgba(255, 255, 255, 0.04);
}

.pb-0 {
    padding-bottom: 0px;
}

/* Footer */
.footer {
    height: auto;
}
